{% extends 'main/base.html' %}
{% load static %}

{% block title %}My Subscription{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">تفاصيل اشتراكاتي</h2>

     {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if subscription %}
        <div class="card mb-4">
            <div class="card-header {% if is_currently_active %}bg-success{% else %}bg-secondary{% endif %} text-white">
                Current Status: {% if is_currently_active %} Active {% else %} Inactive {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">خطة الاشتراك: {{ subscription.plan.name }}</h5>
                <p class="card-text">تاريخ بداية الإشتراك: {{ subscription.start_date|date:"Y-m-d H:i" }}</p>
                <p class="card-text">تاريخ نهاية الاشتراك: {{ subscription.end_date|date:"Y-m-d H:i" }}</p>
                 {% if not is_currently_active %}
                     <p class="text-danger">انتهاء اشتراكك</p>
                     <a href="{% url 'subscriptions:plans' %}" class="btn btn-primary">تجديد الاشتراك / اختر احد الخطط</a>
                 {% endif %}
            </div>
        </div>

        <h3 class="mt-5 mb-3">تاريخ الإشتراكات</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>خطة</th>
                    <th>تاريخ البدء</th>
                    <th>تاريخ الانتهاء</th>
                    <th>رقم عملية الدفع</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in history %}
                <tr>
                    <td>{{ sub.plan.name }}</td>
                    <td>{{ sub.start_date|date:"Y-m-d" }}</td>
                    <td>{{ sub.end_date|date:"Y-m-d" }}</td>
                    <td>{{ sub.payment_id|default:"N/A" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <div class="alert alert-warning text-center">
            <p>لاتملك اي اشتراك فعال</p>
            <a href="{% url 'subscriptions:plans' %}" class="btn btn-primary">عرض خطط الإشتراك </a>
        </div>
    {% endif %}

</div>
{% endblock %}
