{% extends 'main/base.html' %}
{% load static %}

{% block title %}إلغاء عملية الدفع{% endblock %}

{% block content %}
<div class="container py-5 text-center">
     <div class="alert alert-warning">
        <h2>تم إلغاء الدفع</h2>
        <p>تم إلغاء اشتراكك. لم يتم تحصيل أي رسوم منك.</p>
    </div>
    <a href="{% url 'main:home_view' %}" class="btn btn-primary me-2">اذهب إلى الصفحة الرئيسية</a>
    <a href="{% url 'subscriptions:plans' %}" class="btn btn-secondary">العودة إلى الخطط</a>
</div>
{% endblock %}