{% now "Y-m" as max_month %}

<div class="many-card-view ">
    <div class="top-many-card border d-flex justify-content-between align-items-center p-2 ">
        <h2 class="fs-6 p">الشهادات</h2>
        <a href="javascript:void(0)" class="add-btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
            </svg>
        </a>
    </div>
    <div class="container mt-3">
        {%if profile.certification %}

        {%for cert in profile.certification.all%}
        <div class="many-card border mb-3" data-exp-id="{{cert.id}}">
            <div class="many-card-view p-3">
                <div class="d-flex justify-content-between align-items-center ">
                    <h6>{{cert.name }} </h6>
                    <div>
                        <a href="javascript:void(0)" class="edit-btn text-decoration-none"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325">
                                </path>
                            </svg>
                        </a>
                        <form class="d-inline" method="post" {%if admin_view%} action="{%url 'profiles:delate_cert_admin' profile.user.id cert.id %}"  {%else%}action="{%url 'profiles:delate_cert' cert.id %}" {%endif%} enctype="multipart/form-data">
                            {%csrf_token%}
                            <button class="edit-btn btn btn-link"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>



                        </form>
                    </div>
                </div>
                <p>من {{ cert.issuer }}</p>
                <p>{{ cert.issue_date|date:"Y-m" }} {%if cert.expiry_date%} - {{ cert.expiry_date|date:"Y-m" }} {%endif%}</p>
                {% if cert.certificate_file %}
                <a href="{{ cert.certificate_file.url }}" target="_blank" class="btn btn-outline-primary btn-sm mt-2">
                    عرض الشهادة
                </a>

                {% endif %}


            </div>
            <div class="many-card-edit p-3" style="display: none;">
                <form {%if admin_view%} action="{%url 'profiles:edit_cert_admin' profile.user.id cert.id%}" {%else%}action="{%url 'profiles:edit_cert' cert.id%}" {%endif%} method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container mt-3">
                        <div class="row mb-2">
                          <div class="col">
                            <label class="required" for="cert-name">اسم الشهادة</label>
                          </div>
                          <div class="col">
                            <p> <input id="cert-name" name="name" class="form-control" value="{{cert.name}}" required></p>
                          </div>
                        </div>
                        <div class="row mb-2">
                          <div class="col">
                            <label class="required" for="issuer">الجهة المصدرة</label>
                          </div>
                          <div class="col">
                            <p> <input id="issuer" name="issuer" class="form-control" value="{{cert.issuer}}" required> </p>
                          </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                              <label class="required" for="issue_date">تاريخ الاصدار</label>
                            </div>
                            <div class="col">
                              <input required max="{{max_month}}" type="month" id="issue_date" name="issue_date" class="form-control" value="{{cert.issue_date|date:'Y-m'}}">
                            </div>
                          </div>
                      
                        <div class="row mb-2">
                          <div class="col">
                            <label for="expiry_date">تاريخ الانتهاء </label>
                          </div>
                          <div class="col">
                            <input type="month"  id="expiry_date" name="expiry_date" class="form-control" value="{{cert.expiry_date|date:'Y-m'}}">
                          </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                              <label for="certificate_file">ملف الشهادة</label>
                            </div>
                            <div class="col">
                                <input id="certificate_file" type="file" class="form-control" name="certificate_file" id="certificate_file" value="{{cert.certificate_file}}">
                            </div>
                          </div>
                     
                      
                      
                        <div class="row mb-2">
                          <div class="col-4">
                          </div>
                          <div class="col-8">
                            <button type="submit" class="btn btn-primary" name="edu-submit">حفظ</button>
                            <button type="button" class="btn btn-outline-secondary cancel-btn">الغاء</button>
                          </div>
                        </div>
                      </div>
                </form>
            </div>


        </div>
        {%empty%}
        <p>لايوجد لديك شهادة مضافة</p>
        {%endfor%}

        {%endif%}

    </div>

</div>
<div class="many-card-add" style="display: none;">
    <div class="top-many-card border d-flex justify-content-between align-items-center p-2 ">
        <h2 class="fs-6">الشهادات</h2>

    </div>
    <form {%if admin_view%} action="{%url 'profiles:add_cert_admin' profile.user.id %}" {%else%}action="{%url 'profiles:add_cert'%}" {%endif%} method="post" class="p-3" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container mt-3">
            <div class="row mb-2">
              <div class="col">
                <label class="required" for="cert-name">اسم الشهادة</label>
              </div>
              <div class="col">
                <p> <input required id="cert-name" name="name" class="form-control" value="{{cert.name}}"></p>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col">
                <label class="required" for="issuer">الجهة المصدرة</label>
              </div>
              <div class="col">
                <p> <input required id="issuer" name="issuer" class="form-control" value="{{cert.issuer}}"> </p>
              </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                  <label class="required" for="issue_date">تاريخ الاصدار</label>
                </div>
                <div class="col">
                  <input max="{{max_month}}"  required type="month" id="issue_date" name="issue_date" class="form-control" value="{{cert.issue_date|date:'Y-m'}}">
                </div>
              </div>
          
            <div class="row mb-2">
              <div class="col">
                <label for="expiry_date">تاريخ الانتهاء </label>
              </div>
              <div class="col">
                <input type="month"  id="expiry_date" name="expiry_date" class="form-control" value="{{cert.expiry_date|date:'Y-m'}}">
              </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                  <label for="certificate_file">ملف الشهادة</label>
                </div>
                <div class="col">
                    <input id="certificate_file" type="file" class="form-control" name="certificate_file" id="certificate_file" value="{{cert.certificate_file}}">
                </div>
              </div>
         
          
          
            <div class="row mb-2">
              <div class="col-4">
              </div>
              <div class="col-8">
                <button type="submit" class="btn btn-primary" name="edu-submit">حفظ</button>
                <button type="button" class="btn btn-outline-secondary cancel-btn">الغاء</button>
              </div>
            </div>
          </div>
    </form>

</div>