{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
{% endblock %}

{% block content %}
<div class="container py-4">
  <div class="row mb-4">
    <div class="col-12">
      <h2 class="contact-title text-center">
        <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸</span> 
        معلومات الشركة
        <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂</span>
      </h2>
    </div>
  </div>


  <div class="row g-4">
    <div class="col-12 col-md-8">
      <div class="profile-flex">
        <div class="o border-blue radius mb-4">
          {% include 'profiles/partials/company_logo.html' %}
        </div>

        <div class="card border-orange radius mb-4">
          {% include 'profiles/partials/company_info.html' %}
        </div>

        <div class="card border-blue radius mb-4">
          {% include 'profiles/partials/company_contact_info.html' %}
        </div>

      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="prog border-orange p-3 radius ">
        <h5 class="mb-3">عرض</h5>
    
      </div>
    </div>
  </div>
</div>
{% block script %}

    <script>
    
      
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.card').forEach(card => {
      const viewBtn   = card.querySelector('.edit-btn');
      const cancelBtn = card.querySelector('.cancel-btn');
      const viewPane  = card.querySelector('.card-view');
      const editPane  = card.querySelector('.card-edit');

      if (viewBtn) {
        viewBtn.addEventListener('click', e => {
          e.preventDefault();
          viewPane.style.display  = 'none';
          editPane.style.display  = 'block';
        });
      }
      if (cancelBtn) {
        cancelBtn.addEventListener('click', e => {
          e.preventDefault();
          editPane.style.display  = 'none';
          viewPane.style.display  = 'block';
        });
      }
    });
  });
    </script>
{%endblock%}

    {%endblock%}