{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-page text-center">
  <h2 class="contact-title">
    <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸</span>
      تسجيل الدخول
    <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂</span>
  </h2>

  <div class="contact-form-container">
    <form method="post" action="{% url 'accounts:login_view' %}">
      {% csrf_token %}

      <!-- البريد الإلكتروني -->
      <div class="form-group">
        <div class="input-icon"><i class="fi fi-rr-envelope"></i></div>
        <input
          type="email"
          name="email"
          class="form-control-contact orange-border text-start"
          placeholder="البريد الإلكتروني"
          required
        >
      </div>

      <!-- كلمة السر -->
      <div class="form-group">
        <div class="input-icon"><i class="fi fi-rr-lock"></i></div>
        <input
          type="password"
          name="password"
          class="form-control-contact blue-border"
          placeholder="كلمة السر"
          required
        >
      </div>

      <!-- تذكرني -->
     

      <!-- روابط مساعدة -->
      <div class="extra-links text-center mb-4">
        <a href="#">نسيت كلمة السر؟</a>
        <span class="mx-2">|</span>
        <a href="{% url 'accounts:signup_view' %}">إنشاء حساب جديد</a>
      </div>

      <!-- زر الدخول -->
      <button type="submit" class="send-btn w-100">تسجيل دخول</button>
    </form>
  </div>
</section>
{% endblock %}
