{% extends 'main/base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-page text-center">
  <h2 class="contact-title">
    <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸</span>
      تحقق من بريدك
    <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂</span>
  </h2>

  <div class="contact-form-container">
    <p>أرسلنا لك رابط إعادة تعيين كلمة السر إلى بريدك الإلكتروني. تحقق من صندوق الوارد.</p>
    <div class="extra-links text-center mb-4">
      <a href="{% url 'accounts:login_view' %}">العودة لتسجيل الدخول</a>
    </div>
  </div>
</section>
{% endblock %}
