{% extends 'main/base.html' %}
{% load static %}
{% block title %} تغيير كلمة السر  {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-page text-center">
  <h2 class="contact-title">
    <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸</span>
      تم تغيير كلمة السر
    <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂</span>
  </h2>

  <div class="contact-form-container">
    <p>تم تغيير كلمة السر بنجاح. يمكنك الآن تسجيل الدخول باستخدام كلمة السر الجديدة.</p>
    <div class="extra-links text-center mb-4">
      <a href="{% url 'accounts:login_view' %}">تسجيل دخول</a>
    </div>
  </div>
</section>
{% endblock %}
