{% extends 'main/base.html' %}
{% load static %}
{% block title %} اعادة تعيين كلمة السر  {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<section class="signup-page text-center">
  <h2 class="contact-title">
    <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸</span>
      إعادة تعيين كلمة السر
    <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂</span>
  </h2>

  <div class="contact-form-container">
    <form method="POST" action="{% url 'password_reset' %}">
      {% csrf_token %}

      <div class="form-group">
        <div class="input-icon"><i class="fi fi-rr-envelope"></i></div>
        <input
          type="email"
          name="email"
          class="form-control-contact orange-border text-start"
          placeholder="أدخل بريدك الإلكتروني"
          required
        >
      </div>

      <div class="extra-links text-center mb-4">
        <a href="{% url 'accounts:login_view' %}">العودة لتسجيل الدخول</a>
      </div>

      <button type="submit" class="send-btn w-100">إرسال رابط إعادة التعيين</button>
    </form>
  </div>
</section>
{% endblock %}
