{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<!-- زر إضافة تدريب -->
<div class="btn" style="margin-top: 30px;">
    <a href="{% url 'post:add_training_view' %}">اضف تدريب</a>
</div>

<!-- التدريبات -->
<section class="ads">
    <h2 class="mb-4" style="color: #009999; font-weight: bold;">
        <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸▸</span>
        الشركات
        <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂◂</span>
    </h2>
</section>

<section>
  <div class="trainings-container">
    {% if trainings %}
      {% for training in trainings %}
        <div class="training-card">
          <h3>{{ training.title }}</h3>
          <p><strong>متطلبات التعاون:</strong> {{ training.coop_requirements }}</p>
          <p><strong>تاريخ النشر:</strong> {{ training.posting_date }}</p>
          <p><strong>تاريخ الانتهاء:</strong> {{ training.expiration_date }}</p>
          <p><strong>تاريخ البدء:</strong> {{ training.start_date }}</p>
          <p><strong>الوصف:</strong> {{ training.description }}</p>
          <p><strong>التخصصات المطلوبة:</strong> 
            {% for major in training.major.all %}
              {{ major.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>

          <div class="mt-3">
            <a href="{% url 'post:update_training_view' training.id %}" class="btn btn-primary btn-sm">تحديث</a>
            <a href="{% url 'post:delete_training_view' training.id %}" class="btn btn-danger btn-sm">حذف</a>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
        <p class="text-muted" style="font-size: 2rem;">عذرا ، لا يوجد تدريب متاح الان.</p>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}
