{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="btn" style="margin-top: 30px;">
    <a href="{% url 'posts:create_opportunity' %}">اضف تدريب</a>  </div>

<section class="ads">
    <h2 class="mb-4" style="color: #009999; font-weight: bold;">
        <span style="color: #FF7C34;">▸▸▸▸▸▸▸▸▸▸▸</span>
        فرص التدريب
        <span style="color: #FF7C34;">◂◂◂◂◂◂◂◂◂◂◂</span>
    </h2>

    <div class="ads-container">
        {% if opportunities %}  {% for opportunity in opportunities %}
                <div class="ad ad-card">

                    <h1>{{ opportunity.company.company_name }}</h1>

                    <h2> فرصة تدريب في: {{ opportunity.city.arabic_name }}</h2>

                    <p class="description-clamp">
                        <strong>المتطلبات:</strong> {{ opportunity.requirements }}
                    </p>

                    <p><strong>تاريخ النشر:</strong> {{ opportunity.created_at|date:"Y-m-d" }}</p>
                    <p><strong>آخر موعد للتقديم:</strong> {{ opportunity.application_deadline|date:"Y-m-d" }}</p>
                    <p><strong>تاريخ البدء:</strong> {{ opportunity.start_date|date:"Y-m-d" }}</p>

                    <p><strong>التخصصات المطلوبة:</strong>
                        {% for major in opportunity.majors_needed.all %}
                            {{ major.ar_name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>

                    <p class="description-clamp">
                        <strong>الوصف:</strong> {{ opportunity.benefits }}
                    </p>

                    <a href="{% url 'posts:opportunity_detail' opportunity.id %}">  <button>التفاصيل</button>
                    </a>

                </div>
            {% endfor %}
        {% else %}
             <p> لا يوجد فرص متاحة حاليا </p>
        {% endif %}  </div>
</section>

{% endblock %}
