{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<style>

    .section-box {
        border: 2px solid #13A7B1;
        border-radius: 10px;
        padding: 15px;
        background-color: #fff;
    }
    .status-btn {
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: bold;
    }
    .status-ACCEPTED {
        background-color: #28a745;
        color: white;
    }
    .status-PENDING {
        background-color: #ffc107;
        color: black;
    }
    .status-REJECTED {
        background-color: #dc3545;
        color: white;
    }
    .status-WITHDRAWN {
        background-color: #fd7e14;
        color: white;
    }
    .orange-border {
        border: 2px solid #FF7C34;
    }
    .related-badge {
        background-color: #FF7C34;
        color: white;
        padding: 2px 6px;
        border-radius: 5px;
        font-size: 12px;
        margin-right: 5px;
    }
    /* Desktop Styles */
    .banner-title {
      font-size: 6rem;
    }
    .banner-subtitle {
      font-size: 2.5rem;
      max-width: 800px;
    }

    /* Mobile Styles */
    @media (max-width: 768px) {
    .banner-title {
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 1.5rem;
    }
    .banner-subtitle {
      font-size: 1.5rem;
      line-height: 1.4;
      max-width: 90%;
    }
  }
</style>
<div class="container py-4">
    <div class="row">
        <!-- التدريبات ذات صلة -->
        <div class="col-md-3 mb-3 mb-md-0">
            <div class="section-box">
                <h5 class="text-center text-info">تدريبات ذات صلة</h5>
                <hr>
                {% for opp in related_opps %}
                    <a class="text-decoration-none w-100" href="{% url 'posts:opportunity_detail' opp.id %}">
                        <div class="mb-3">
                        <span class="related-badge">جديد</span>
                        <strong class="d-block text-info">{{ opp.title }}</strong>
                        <small class="text-muted">{{ opp.city.arabic_name }}</small>
                        <img src="{{ opp.company.logo.url }}" class="float-end" width="35">
                    </div></a>
                {% empty %}
                    <p class="text-muted">لا توجد تدريبات مشابهة حالياً.</p>
                {% endfor %}
            </div>
        </div>

        <!-- الطلبات التي تم التقديم عليها -->

        <div class="col-md-6 mb-3 mb-md-0">
            <div class="section-box">

                {% for app in applications %}
                    <div class="border orange-border rounded mb-3 p-3">
                    <a class="text-decoration-none w-100" href="{% url 'posts:opportunity_detail' app.opportunity.id %}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="mb-1 text-warning">{{ app.opportunity.company.company_name }}</h6>
                                <p class="mb-1 text-info">{{ app.opportunity.title }} - {{ app.opportunity.city.arabic_name }}</p>
                                <span class="badge status-btn status-{{ app.status }}">{{ app.get_status_display }}</span>
                            </div>
                            <img src="{{ app.opportunity.company.logo.url }}" width="60">

                        </div>
                        </a>
                    </div>

                {% empty %}
                    <p class="text-muted">لم تقم بالتقديم على أي تدريب بعد.</p>
                {% endfor %}
            </div>
        </div>

        <!-- الملف الشخصي -->
        <div class="col-md-3 mb-3 mb-md-0">
            <div class="section-box text-center">
                <img src="{{ student_profile.personal_info.picture.url }}" class="rounded-circle mb-2" width="90">
                <h5 class="text-dark">{{ student_profile.personal_info.full_name }}</h5>
                <p class="text-muted">
                    {{ student_profile.education.first.major.ar_name }}<br>
                    {{ student_profile.contact_info.city.arabic_name }}
                </p>
                <div class="d-flex justify-content-around mt-3">
                  <a href="{% url 'posts:my_applications' %}" style="color: #13A7B1; text-decoration: none;">
                    <i class="fi fi-rr-bell"></i><br>الطلبات
                  </a>
                  <a href="{% url 'notifications:notifications_page' %}" style="color: #FF7C34; text-decoration: none;">
                    <i class="fi fi-rr-envelope"></i><br>الرسائل
                  </a>
                  <a href="{% url 'profiles:profile_view' %}" style="color: #000000; text-decoration: none;">
                    <i class="fi fi-rr-user"></i><br>الملف
                  </a>
              </div>
              
            </div>
        </div>
    </div>
</div>


<!-- قسم تعريف عن نقطة وصل -->
<section class="py-5 bg-white border-top border-3" style="border-color: #13A7B1;">
  <div class="container">
    <div class="row align-items-center">
      <!-- الصورة -->
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="{% static 'images/graduate.avif' %}" alt="حفل التخرج" class="img-fluid rounded shadow">
      </div>
      <!-- النص -->
      <div class="col-lg-6 text-end">
        <h6 class="text-orange mb-2" style="color: #FF7C34;">للتدريب التعاوني</h6>
        <h2 class="fw-bold mb-3" style="color: #13A7B1;">بوابتك المهنية تبدأ مع <span class="text-dark">نقطة وصل</span></h2>
        <p class="text-muted" style="font-size: 1.1rem; color: #000000 !important;">
          نقطة وصل هي منصة تجمع الطلاب المقبلين على التخرج والشركات التي تقدم برامج تدريبية تساهم في تحضير الطلاب وتطوير مهاراتهم. تخلق لك تجربة عملية لإكمال مقرر التدريب التعاوني، وتساعد صاحب المنشأة في عملية التطوير والاستثمار البشري.
        </p>
        <a href="{% url 'main:about_view' %}" class="btn btn-lg px-4 mt-3 text-white" style="background-color: #FF7C34;">
          اقرأ المزيد
        </a>
      </div>
    </div>
  </div>
</section>

<!-- الإحصائيات -->
<section class="py-5 text-center bg-light position-relative stats-section">
  <h2 class="contact-title text-center">
    <span style="color: #FF7C34;">▸▸▸</span> 
    ارقام نقطه وصل 
    <span style="color: #FF7C34;">◂◂◂</span>
  </h2>

  <div class="container">
    <div class="row justify-content-center g-4">
  
      <div class="col-md-3 col-6">
        <div class="bg-white p-4 rounded-4 shadow-sm d-flex flex-column align-items-center">
          <i class="fi fi-rr-user mb-2"></i>
          <div>
            <h5 class="fw-bold" style="color: #009999; font-size: 40px;">10K</h5>
            <span style="color: #009999; font-size: 40px;">طالب</span>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 col-6">
        <div class="bg-white p-4 rounded-4 shadow-sm d-flex flex-column align-items-center">
          <i class="fi fi-rr-building mb-2"></i>
          <div>
            <h5 class="fw-bold" style="color: #009999; font-size: 40px;">+500</h5>
            <span style="color: #009999; font-size: 40px;">شركة</span>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 col-6">
        <div class="bg-white p-4 rounded-4 shadow-sm d-flex flex-column align-items-center">
          <i class="fi fi-rr-graduation-cap mb-2"></i>
          <div>
            <h5 class="fw-bold" style="color: #009999; font-size: 40px;">12K</h5>
            <span style="color: #009999; font-size: 40px;">تم تدريبهم</span>
          </div>
        </div>
      </div>
  
      <div class="col-md-3 col-6">
        <div class="bg-white p-4 rounded-4 shadow-sm d-flex flex-column align-items-center">
          <i class="fi fi-rr-briefcase mb-2"></i>
          <div>
            <h5 class="fw-bold" style="color: #009999; font-size: 40px;">42</h5>
            <span style="color: #009999; font-size: 40px;">تدريب متاح</span>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>

<section class="hero-banner px-5 ">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- النص يمين -->
      <div class="col-md-6 text-end banner-text pe-2 ps-5">
        <h2 class="fw-bold text-black">نقطة وصل</h2>
        <h2 class="fw-bold text-black">لكي تصل</h2>
        <h2 class="fw-bold" style="color: #13A7B1;">أطلق إمكانياتك</h2>
        <p class="fs-5 text-black">ابدأ رحلة النجاح واصنع مستقبلك اليوم</p>
        {% if not user.is_authenticated %}
            <a href="{% url 'accounts:signup_view' %}" class="btn btn-custom">سجل الآن</a>
        {% endif %}
      </div>

      <!-- الصورة يسار -->
      <div class="col-md-6 p-0 ps-md-4 pe-0 d-flex justify-content-center">
        <img src="{% static 'images/HomeBanner.jpg' %}" alt="Hero Banner" class="img-fluid banner-img" style="max-width: 90%;">
      </div>
    </div>
  </div>
</section>


<section class="text-center bg-light position-relative stats-section" style="padding-bottom: 0; margin-bottom: 0;">
    <div class="container py-5 text-center">
      <h2 class="contact-title mb-4">
        <span style="color: #FF7C34;">▸▸▸</span>
        فخورين بثقتكم 
        <span style="color: #FF7C34;">◂◂◂</span>
      </h2>
  
      <div id="trustedByCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" style="height: 100px;">
        <div class="carousel-inner active">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center flex-wrap gap-4">
              <img src="{% static 'images/Bifam.jpeg' %}" alt="BiFam" class="img-fluid logo-img" style="max-height: 70px;">
              <img src="{% static 'images/Gulf.jpeg' %}" alt="Gulf Security" class="img-fluid logo-img" style="max-height: 70px;">
              <img src="{% static 'images/Schools.jpeg' %}" alt="Alhasa school" class="img-fluid logo-img" style="max-height: 70px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="collab-banner" style="background-image: url('{% static "images/DashBanner.jpg" %}'); margin-top: 0;">
    <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center text-white">
        <h1 class="fw-bold mb-3 banner-title">نقطه وصل تضمن لك</h1>
        <h2 class="display-5 mb-4 banner-subtitle">
            مواجهة واقع عملي يعزز مهاراتك العملية
        </h2>
        {% if not user.is_authenticated %}
        <a href="{% url 'accounts:signup_view' %}" class="btn btn-custom-orange text-white fw-bold px-4 py-2 rounded-pill">
            <i class="fi fi-rr-angle-left ms-2"></i> سجّل الآن
        </a>
        {% endif %}
    </div>
</section>

  
  
{% endblock %}
