{% extends 'main/base.html' %}
{% load static %}

{% block title %}My Opportunities{% endblock %}

{% block content %}
<div class="container py-4">
    <h1>My Co-op Opportunities</h1>
    <a href="{% url 'posts:create_opportunity' %}" class="btn btn-success mb-3">Create New Opportunity</a>
    {% if opportunities %}
        <div class="row g-4">
            {% for opportunity in opportunities %}
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">{{ opportunity.title }}</h2>
                            <p class="card-text">{{ opportunity.description }}</p>
                            <p class="card-text"><strong>الموقع:</strong> {{ opportunity.city.arabic_name }}</p>
                            <p class="card-text"><strong>تاريخ بداية التدريب:</strong> {{ opportunity.start_date }}</p>
                            <p class="card-text"><strong>الموعد النهائي للتقديم</strong> {{ opportunity.application_deadline }}</p>
                            <p class="card-text"><strong>حالة التقديم:</strong> {{ opportunity.get_status_display }}</p>
                            <a href="{% url 'posts:opportunity_detail' opportunity.id %}" class="btn btn-primary">عرض التفاصيل:</a>
                            <a href="{% url 'posts:opportunity_applications' opportunity.id %}" class="btn btn-secondary">عرض المتقدمين</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>لم تقم بإنشاء اي فرصة تدريبية حتى الأن</p>
    {% endif %}
</div>
{% endblock %}