{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ opportunity.title }}{% endblock %}

{% block content %}
<div class="container py-4">
    <h1>{{ opportunity.title }}</h1>
    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text"><strong>Company:</strong> {{ opportunity.company.company_name }}</p>
            <p class="card-text"><strong>Location:</strong> {{ opportunity.city.arabic_name }}</p>
            <p class="card-text"><strong>Description:</strong></p>
            <p class="card-text">{{ opportunity.description }}</p>
            <p class="card-text"><strong>Requirements:</strong></p>
            <p class="card-text">{{ opportunity.requirements }}</p>
             {% if opportunity.benefits %}
                <p class="card-text"><strong>Benefits:</strong></p>
                <p class="card-text">{{ opportunity.benefits }}</p>
             {% endif %}
            <p class="card-text"><strong>Start Date:</strong> {{ opportunity.start_date }}</p>
            <p class="card-text"><strong>Duration:</strong> {{ opportunity.duration }}</p>
            <p class="card-text"><strong>Application Deadline:</strong> {{ opportunity.application_deadline }}</p>
            <p class="card-text"><strong>Status:</strong> {{ opportunity.get_status_display }}</p>
        </div>
    </div>
    {% if request.user.is_authenticated and request.user.student_profile and opportunity.application_deadline >= today and not applied %}
        <a href="{% url 'posts:apply_opportunity' opportunity.id %}" class="btn btn-success">Apply Now</a>
    {% elif applied %}
        <p class="alert alert-success">You have already applied for this opportunity.</p>
    {% elif opportunity.application_deadline < today %}
        <p class = "alert alert-danger"> This opportunity is expired</p>
    {% endif %}
    <a href="{% url 'posts:opportunity_list' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %}